<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ww.mvc.cmt.model.dao.CmtMapper">
	<sql id="cmtListSql">
		SELECT C.CMT_NO,
		E.EMP_ID,
		C.CMT_SRT_TIME,
		C.CMT_END_TIME
		FROM CMT_TB C
		JOIN EMPLOYEE E ON(C.EMP_ID = E.EMP_ID)
	</sql>

	<resultMap type="Cmt" id="CmtListResultMap">
		<id property="cmt_no" column="CMT_NO" />
		<result property="emp_no" column="EMP_NO" />
		<result property="cmt_srt_time" column="CMT_SRT_TIME" />
		<result property="cmt_end_time" column="CMT_END_TIME" />
	</resultMap>

	<select id="fintMonthlyCmt" parameterType="map"
		resultMap="CmtListResultMap">
		<include refid="cmtListSql"></include>

		WHERE C.CMT_MONTH = ${ cmt_month }
		<choose>
			<when test="emp_id != null">
				AND C.EMP_NO LIKE '%' || #{emp_no} || '%'
			</when>
			<when test="cmt_no != null">
				AND C.CMT_NO LIKE '%' || #{cmt_no} || '%'
			</when>
		</choose>
		ORDER BY CMT_DATE
	</select>

	<update id="updateEndTime" parameterType="Cmt">
		UPDATE CMT_TB
		<trim prefix="SET" suffixOverrides=",">
			<if test="cmt_srt_time != null">
				CMT_SRT_TIME = #{cmt_srt_time},
			</if>
			CMT_END_DATE = SYSDATE
		</trim>
		WHERE
		CMT_NO = #{cmt_no}
	</update>

	<update id="updateStatus" parameterType="map">
		UPDATE BOARD
		SET STATUS = #{status}
		WHERE NO = #{no}
	</update>
</mapper>